################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RetroRoller/web/startup/tokens.json
/.vs
/RetroRoller/web/hostview/hostView2_alt.html
