@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* import retro font */

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323131;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 10px;
}

button {
    font-family: inherit;
    background-color: #f72585;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

button.add-item {
  font-family: inherit;
  background-color: #f8d210;
  opacity: 0.6;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 0.6rem;
  margin-bottom: 30px;
  transition: background-color 0.3s;
}

button:hover {
    background-color: #7209b7;
}

#players-container {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
}

button.remove-attribute {
  color: rgb(0, 0, 0);
  background-color: #f8d210;
  opacity: 0.6;
  font-size: 0.2rem;
  padding: 5px 15px;
}

button.add-attribute {
  color: rgb(0, 0, 0);
  background-color: #f8d210;
  opacity: 0.6;
  font-size: 0.6rem;
  padding: 5px 15px;
}

button.remove-item {
    color: rgb(255, 255, 255);
    background-color: #f8d210;
    font-size: 0.2rem;
    padding: 5px 15px;
}

.inventory {
    list-style-type: square; /* square bullets for the list */
    padding-left: 20px;    
    margin: 10px 0;      
}

.inventory li {
    margin: 0px 0;      
    font-size: 0.7em;
}

.player {
    background-color: #333;
    border: 5px double #f72585;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    max-height: 400px;
    overflow: auto;    
}

.player-name {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #222;
    color: #fff;
    border: none;
    font-family: inherit;
}

.player-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.logo-icon {
  display: block;
  margin: 0 auto 10px;
  position: absolute;
  top: 10px;
  right: 1415px;
  width: 90px;
  height: auto;
  z-index: 10;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: #f8d210;
    font-size: 0.8rem;
    align-items: center;
}

.stat-input {
    width: 37px;
    padding: 5px;
    font-size: 0.8rem;
    background-color: #222;
    color: white;
    border: none;
    font-family: inherit;
    margin-left: 3px;
    margin-right: 3px;
}

.stat-button {
    font-size: 0.8em;
    width: 50px;
    height: 25px;
    margin: 0 2px;
    padding: 3px;
    cursor: pointer;
}

.fade-in-text {
  font-family: 'Press Start 2P';
  font-size: 45px;
  animation: fadeIn 2s;
  padding: 15px;
  text-shadow: 2px 0px 0px #f72585;
}

h2.fade-in-text {
    font-family: 'Press Start 2P';
    font-size: 9px;
    animation: fadeIn 5s;
    padding: 15px;
    text-shadow: none;
  }

  /* for animations */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.search-container {
  position: absolute;
  top: 20px;
  right: 50px; /* Adjust to position the search box */
  display: flex;
  align-items: center; /* This will align both input and button vertically */
}

.search-box {
  padding: 5px;
  font-size: 0.8rem;
  border: none;
  background-color: #222;
  color: white;
  margin-right: 10px;
  vertical-align: middle;
}

#search-btn {
  background-color: #f72585;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;
  vertical-align: middle;
}

#search-btn:hover {
  background-color: #7209b7;
}

#forward-btn, #backward-btn {
  padding: 5px 10px;   /* Adjust the padding to make the buttons smaller */
  font-size: 0.8rem;   /* Smaller font size */
  margin: 0 5px;       /* Reduce margin for spacing */
  background-color: #f72585;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#forward-btn:hover, #backward-btn:hover {
  background-color: #7209b7; /* Change background on hover */
}

.glow {
  box-shadow: 0px 10px 30px 10px rgba(230, 247, 37, 0.7); /* Neon yellow glowing effect */
  border-color: #f8d210;
}

.remove-attribute-x {
  width: 20px;  /* Set width to match the input field */
  height: 20px; /* Set height to match the input field */
  margin: 0;
  padding: 0;
  margin-right: 2px; /* Space between the X button and the input */
  background-color: transparent; /* Keep it transparent */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor on hover */
  font-size: 10px; /* Size of the 'X' */
  line-height: 2; /* Ensure text aligns properly */
  display: inline-flex;
} 

.remove-item-x {
  width: 20px;  /* Set width to match the input field */
  height: 20px; /* Set height to match the input field */
  margin: 0;
  padding: 0;
  margin-right: 2px; /* Space between the X button and the input */
  background-color: transparent; /* Keep it transparent */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor on hover */
  font-size: 10px; /* Size of the 'X' */
  line-height: 2; /* Ensure text aligns properly */
  display: inline-flex;
} 

/* Remove hover effects */
.remove-attribute-x:hover {
  background-color: transparent; /* No background color change */
  color: inherit; /* Maintain original color */
  outline: none; /* No outline on hover */
}

/* Remove hover effects */
.remove-item-x:hover {
  background-color: transparent; /* No background color change */
  color: inherit; /* Maintain original color */
  outline: none; /* No outline on hover */
}


/* For WebKit browsers (Chrome, Safari) */
.stat-input::-webkit-outer-spin-button,
.stat-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hides the spinners */
  margin: 0; /* Remove default margin */
}

.attribute-name {
  width: 150px;
  padding: 3px;
  font-size: 0.8rem;
  background-color: #222;
  color: white;
  border: none;
  margin-left: 3px;
}

.attributes-h3 {
  padding: 15px 0px;
  font-size: small;
}

.inventory-h3{
  padding-bottom: 10px;
  font-size: small;
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.player::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* Hide the scrollbar for Firefox */
.player {
  scrollbar-width: none; /* Hide the scrollbar */
}

.icon-popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  width: 80%;
  max-width: 500px; /* Max width for the popup */
  height: 60%;
  overflow-y: auto; /* Allow vertical scroll */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/* Inventory items styled similar to attributes */
.inventory-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  margin-bottom: 10px;
}

.inventory {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  color: #f8d210;
  font-size: 0.8rem;
  align-items: center;
}

.inventory-name {
   width: 150px;
  padding: 3px;
  font-size: 0.8rem;
  background-color: #222;
  color: white;
  border: none;
  margin-left: 3px;
}

.stat-button {
  font-size: 0.8em;
  width: 50px;
  height: 25px;
  margin: 0 2px;
  padding: 3px;
  cursor: pointer;
}

#enemyIcon {
  display: none; /* Initially hidden */
  width: 100px;
  height: 100px;
  border: 2px solid #000; /* Add a border to make the image visible */
  margin-top: 10px; /* Space between image and the upload button */
}

#enemy-section {
  padding: 10px;
  text-align: center;
}



/* dice section next to the logo */
.dice-section {
    position: absolute;
    top: 20px;
    right: 1250px; /* adjust this value to control the spacing between the logo and dice section */
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    align-items: center;
  }
  
  .dice-button {
    background-color: #f72585;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 10px;
    transition: background-color 0.3s;
  }
  
  .dice-button:hover {
    background-color: #7209b7;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
    display: block;
    background-color: #323131;
    height: fit-content;
    width: 300px;
    border: 5px double #f72585;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10;
  }
  
  .dropdown.active > .dice-button + .dropdown-menu {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }

  .dice-input {
    width: 10px;
    position: relative;
    top: -2px;
  }
  
  h1, h5 {
    font-size: 10px;
    color: white;
    margin-bottom: 7px;
  }
  
  h4 {
    justify-content: center; /* Center the text horizontally */
    font-size: 10px;
    color: white;
    margin-top: 8px;
    width: 100%; /* Make the element take up the full width of its container */
}

  .dice-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .dice-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    margin: 3px;
  }
  
  .dice-type img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-top: 3px;
  }
  
  .quantity-control button {
    background-color: #f72585;
    color: white;
    font-size: 0.5em;
    width: 25px;
    height: 25px;
    margin: 0 2px;
    padding: 3px;
    cursor: pointer;
  }
  
  .quantity-control span {
    width: 37px;
    padding: 5px;
    font-size: 0.8rem;
    background-color: #222;
    color: white;
    border: none;
    font-family: inherit;
    margin-left: 3px;
    margin-right: 3px;
  }

  .roll-button {
    background-color: #f72585;
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
    margin: 15px;
    margin-right: 5px;
    font-size: 0.7rem;
    justify-self: center;
    transition: background-color 0.3s;
  }

  .clear-button {
    background-color: #323131;
    border: 1px solid #f72585;
    color: white;
    cursor: pointer;
    padding: 7px;
    margin: 15px;
    margin-left: 0px;
    font-size: 0.7rem;
    justify-self: center;
  }

  .clear-button:hover {
    border-color: #7209b7;
  }

  #roll-result {
    white-space: pre;
    text-align: left;
    text-wrap: wrap;
    margin-left: 10px;
    line-height: 115%;
  }

/* settings dropdown menu */
.settings-section {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  z-index: 1000; 
}
.settings-button {
  object-fit: fill;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 12px;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  display: flex;
} 
.settings-button:hover {
  background-color:#f72585;
}
.settings-button img {
  width: 23px;
  height: 23px;
}
.set-menu {
  position: absolute;
  right: 0px;
  top: 60px;
  padding: .75rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transform: translateY(-10px);
  background-color: #323131;
  height: fit-content;
  width: 300px;
  border: 5px double #f72585;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 10;
}
.set-menu .end-session {
  font-size: 0.8rem;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f72585; 
  border: none;
  cursor: pointer; 
  transition: background-color 0.3s;
}
.set-menu .end-session:hover {
  background-color: #7209b7; 
}
.dropdown.active > .settings-button + .set-menu {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}
.header {
  position: fixed; 
  top: 0;
  width: 100%; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 1000;
}
.end-session-confirmation {
  margin-top: 10px;
  font-size: .8rem;
}
.set-menu p {
  margin-bottom: 10px;
  font-size: 10px;
  line-height: 115%;
}
.end-session-confirmation button {
  font-size: .6rem;
  margin-right: 5px; 
  padding: 5px 10px;
  background-color: #f72585;
  color: white;
  cursor: pointer; 
}
.end-session-confirmation button:hover {
  background-color: #7209b7; 
}

/* Style the modal (pop-up) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1; /* Sit on top*/
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 100%;
}

/* Modal content (the box inside) */
.modal-content {
  background-color: #323131;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  height: fit-content;
  width: 300px;
  border: 5px double #f72585;
  border-radius: 10px;
}

h6 {
  color: white;
  margin-bottom: 12px;
  font-size: 15px;
}

/* Modal buttons */
.modal-content button {
  margin: 12px;
  padding: 10px;
  font-size: 10px;
}

/* Updated Dummy Card Styling to Match Player Card */
.dummy-card {
    background-color: #333;
    border: 5px double #f72585;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    max-height: 400px;
    overflow: auto;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

    /* Dummy Card Header to Match Font Style */
    .dummy-card h3 {
        font-size: 1rem;
        color: #f8d210;
        margin-bottom: 10px;
    }

    /* Dummy Card Attribute and Item Text Styling */
    .dummy-card p {
        font-size: 0.8rem;
        color: #fff;
        margin: 8px 0;
    }

    /* Dummy Card Inner Sections for Attribute and Item Display */
    .dummy-card .attribute,
    .dummy-card .item {
        padding: 3px 0;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        color: #f8d210;
    }

    /* Styling for the upload section */
#upload-section {
  margin-top: 10px;
  text-align: center;
}

#upload-icon-input {
  display: block;
  margin: 10px auto;
}

#uploaded-preview img {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.attr-stat-input {
  width: 37px;
  padding: 5px;
  font-size: 0.8rem;
  background-color: #222;
  color: white;
  border: none;
  font-family: inherit;
  margin-left: 3px;
  margin-right: 3px;
}

.item-name {
  width: 150px;
  padding: 3px;
  font-size: 0.8rem;
  background-color: #222;
  color: white;
  border: none;
  margin-left: 3px;
}

/* For WebKit browsers (Chrome, Safari) */
.attr-stat-input::-webkit-outer-spin-button,
.attr-stat-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hides the spinners */
  margin: 0; /* Remove default margin */
}

.card-icon {
  display: block; /* Ensures the image behaves like a block element */
  margin: 0 auto; /* Horizontally centers the image */
  padding-bottom:10px;
  width: 130px; /* Scales down the size if necessary */
  height: auto; /* Maintains aspect ratio */
}

/* For Firefox */
.attr-stat-input[type="number"] {
  -moz-appearance: textfield; /* Hides the spinner */
}

.stat-input[type="number"] {
  -moz-appearance: textfield; /* Hides the spinner */
}

.remove-player {
  font-size: smaller;
  position: relative;
  left: 40px;
  bottom: -10px;

}