@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #323131;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.container {
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 10px;
}

button {
    font-family: inherit;
    background-color: #f72585;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7209b7;
}

#players-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
}

button.remove-attribute {
  color: rgb(0, 0, 0);
  background-color: #f8d210;
  opacity: 0.6;
  font-size: 0.7rem;
  padding: 5px 15px;
}

button.add-attribute {
  color: rgb(0, 0, 0);
  background-color: #f8d210;
  opacity: 0.6;
  font-size: 0.7rem;
  padding: 5px 15px;
}

button.remove-item {
    color: rgb(0, 0, 0);
    background-color: #f8d210;
    opacity: 0.6;
    font-size: 0.7rem;
    padding: 3px 10px;
}

.inventory {
    list-style-type: disc; /* Use bullets for the list */
    padding-left: 20px;    /* Indent the list */
    margin: 10px 0;        /* Add some margin around the list */
}

.inventory li {
    margin: 0px 0;         /* Adjusts spacing between list items */
    font-size: 0.7em;
}






.player {
    background-color: #333;
    border: 5px double #f72585;
    border-radius: 10px;
    padding: 15px;
    width: 295px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.player-name {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #222;
    color: #fff;
    border: none;
    font-family: inherit;
}

.player-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}

.logo-icon {
  display: block;
  margin: 0 auto 10px;
  position: absolute;
  top: 10px;
  right: 1425px;
  width: 90px;
  height: auto;
  z-index: 10;
}

label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    color: #f8d210;
    font-size: 0.8rem;
    align-items: center;
}

.stat-input {
    width: 50px;
    padding: 3px;
    font-size: 0.8rem;
    background-color: #222;
    color: white;
    border: none;
    font-family: inherit;
    margin-left: 3px;
}

.stat-button {
    font-size: 0.8em;
    width: 50px;
    height: 25px;
    margin: 0 2px;
    padding: 3px;
    cursor: pointer;
}

.fade-in-text {
  font-family: 'Press Start 2P';
  font-size: 45px;
  animation: fadeIn 2s;
  padding: 15px;
}

h2.fade-in-text {
    font-family: 'Press Start 2P';
    font-size: 9px;
    animation: fadeIn 5s;
    padding: 15px;
  }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
