@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323131;
}

.container {
    position: fixed;
    top: 200px;
    text-align: center;
}

h1 {
   font-family: 'Press Start 2P';
   color: white; 
   font-size: 45px;
   text-shadow: 2px 0px 0px #f72585;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 20px;
}

button {
    background: #f72585;
    color: white;
    text-shadow: 1px 0px 0px #323131;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 130px;
    font-size: 20px;
}

button:hover {
    background: transparent;
    color: white;
    outline: 1px solid #fff;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    content:'';
    width: 100%;
    height: 15%;
    background:url('carpet1.png');
    background-repeat: no-repeat;
}

.fade-in-text {
    font-family: 'Press Start 2P';
    font-size: 45px;
    animation: fadeIn 2s;
    padding: 15px;
}
  
h2.fade-in-text {
    font-family: 'Press Start 2P';
    font-size: 9px;
    animation: fadeIn 5s;
    padding: 15px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}